Update `InternetAddress` to RFC 5322

RFC 5322 superseded RFC 2822, which supersede RFC 822, which is used in [InternetAddress](https://jakarta.ee/specifications/mail/2.1/apidocs/jakarta.mail/jakarta/mail/internet/internetaddress). Is there a technical reason to comply with the old standard instead of the newer one?

"RFC822" remains the name of that format, as used e.g. in [RFC 2045](https://www.rfc-editor.org/info/rfc2045/#section-2.3), even if most parsers these days are closer to RFC 5322 and/or [the WHATWG spec](https://html.spec.whatwg.org/multipage/input.html#email-state-(type=email)) than they are to the actual old RFC 822.

FYI, 5322 is in the process of [being updated itself](https://datatracker.ietf.org/doc/draft-ietf-emailcore-rfc5322bis/) and I don't know of any differences between *that* document and this code either.

I was looking at https://www.baeldung.com/java-email-validation-regex to find the correct validation pattern and it gives several different ones. The one for 5322 is given as
>^[a-zA-Z0-9_!#$%&’*+/=?`{|}~^.-]+@[a-zA-Z0-9.-]+$`

but I don't know if it matches the parsing rules of `InternetAddress`, which follows 822. Validating by attempting to create an instance is not the best pattern and this class might not always be available. So I was wondering, what is the proper validation pattern?

If you want to use a regex to validate, then, ah, then the most reasonable pattern is perhaps the one on [the WHATWG page](https://html.spec.whatwg.org/multipage/input.html#email-state-(type=email)), originally by @synchro. But my advice is `try { new InternetAddress(x) } catch ( Throwable t ) { ... }`. That's likely to be as fast as a regex, more correct and more readable.

If you want to use a unicode-aware regex, I have one in the depths of my email archive. Don't want to look it up. It replaces some parts of the WHATWG regex with sequences like `\p{L}\p{N}\p{C}`, enhancing job security at the cost of readability. There is much to say in favour of `try { new InternetAddress…`, really.

Thanks for the link.

The problem with using `InternetAddress` is that it's not always available. If I want a client to validate the typed email before it is sent to the server (where validation via creation is possible), I would need to include JakartaMail just for that. A regex is more reasonable in the client, unless you have another idea, like something that exists already in the JDK.

Ah… is this a JVM-only client or mixed-language? If all-JVM, perhaps test for `[^\s@]+@.*` and do a DNS MX lookup on the part after the `@`. Do a final test in the server.

In the longer term, I think asking [EVP](https://datatracker.ietf.org/doc/draft-hardt-email-verification/) in the server is the best way forward. But that's still very draftish. I suspect that'll be usable in production towards the end of 2027 and will answer the question "does this user control this email address", not just "is this an email address", which is a better match for quite a few use cases. For now, `new InternetAddress`, though.

I think we'd better close this now, it's not even remotely a jakartaee/mail-api issue.

Thanks for the useful info. I'll try the WHATWG regex. Even if it catches most-but-not-all invalid addresses it should be good enough.